
.app {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.button {
	border: none;
	padding: 10px 25px;
	border-radius: 5px;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer
}

.button--login{
	background-color: #a435f0;
	color: #fff
}

.button--logout{
	border: 1px solid #a435f0;
	color: #a435f0;
	background-color: transparent;
}

.card-profile {
	max-width: 600px;
	box-shadow: 0px 0px 10px 5px rgba(255,255,255, .2);
	text-align: center;
	margin: 2em 0;padding: 25px;
	border-radius: 8px;
}

.card-profile img {
	border-radius: 100%;
	margin-bottom: 15px;
}

.card-profile h3{
	margin: 0px;
}

.card-profile p{
	margin: 0px;
}